In [1]:
import pandas as pd
import numpy as np

In [2]:
diamonds = pd.read_csv("../diamonds-datamad0820/train.csv")

In [3]:
diamonds.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.12    Premium     H     SI1   61.6   59.0  6.67  6.63  4.10   5363
1   1   1.14  Very Good     E     SI2   60.0   54.0  6.74  6.97  4.11   5593
2   2   0.90  Very Good     D     SI2   60.3   63.0  6.12  6.22  3.72   3534
3   3   0.71      Ideal     E     VS1   61.9   54.0  5.74  5.76  3.56   3212
4   4   0.34  Very Good     F     SI2   60.0   62.0  4.51  4.55  2.72    447

In [4]:
diamonds.set_index("id", inplace=True)

In [5]:
diamonds.head()

    carat        cut color clarity  depth  table     x     y     z  price
id
0    1.12    Premium     H     SI1   61.6   59.0  6.67  6.63  4.10   5363
1    1.14  Very Good     E     SI2   60.0   54.0  6.74  6.97  4.11   5593
2    0.90  Very Good     D     SI2   60.3   63.0  6.12  6.22  3.72   3534
3    0.71      Ideal     E     VS1   61.9   54.0  5.74  5.76  3.56   3212
4    0.34  Very Good     F     SI2   60.0   62.0  4.51  4.55  2.72    447

In [6]:
diamonds.shape

(40455, 10)

In [7]:
diamonds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40455 entries, 0 to 40454
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    40455 non-null  float64
 1   cut      40455 non-null  object
 2   color    40455 non-null  object
 3   clarity  40455 non-null  object
 4   depth    40455 non-null  float64
 5   table    40455 non-null  float64
 6   x        40455 non-null  float64
 7   y        40455 non-null  float64
 8   z        40455 non-null  float64
 9   price    40455 non-null  int64
dtypes: float64(6), int64(1), object(3)
memory usage: 3.4+ MB

In [8]:
diamonds.cut.value_counts()

Ideal        16250
Premium      10342
Very Good     9026
Good          3639
Fair          1198
Name: cut, dtype: int64

In [9]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
diamonds.cut = le.fit_transform(diamonds.cut)

In [10]:
diamonds.color.value_counts()

G    8565
E    7344
F    7162
H    6147
D    5063
I    4052
J    2122
Name: color, dtype: int64

In [11]:
le = preprocessing.LabelEncoder()
diamonds.color = le.fit_transform(diamonds.color)

In [12]:
diamonds.clarity.value_counts()

SI1     9806
VS2     9204
SI2     6865
VS1     6099
VVS2    3778
VVS1    2776
IF      1365
I1       562
Name: clarity, dtype: int64

In [13]:
le = preprocessing.LabelEncoder()
diamonds.clarity = le.fit_transform(diamonds.clarity)

In [14]:
diamonds.head()

    carat  cut  color  clarity  depth  table     x     y     z  price
id
0    1.12    3      4        2   61.6   59.0  6.67  6.63  4.10   5363
1    1.14    4      1        3   60.0   54.0  6.74  6.97  4.11   5593
2    0.90    4      0        3   60.3   63.0  6.12  6.22  3.72   3534
3    0.71    2      1        4   61.9   54.0  5.74  5.76  3.56   3212
4    0.34    4      2        3   60.0   62.0  4.51  4.55  2.72    447

In [15]:
columnas = [a for a in diamonds.columns if a not in ["price"]]
X = diamonds[columnas]
y = diamonds["price"]

In [16]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 1/3)

## En este jupyter notebook vamos a entrenar los modelos filtrados en model_filter, para comprobar cual es el que devuelve mejores resultados.

In [17]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor, GradientBoostingRegressor, HistGradientBoostingRegressor, VotingRegressor

In [18]:
models = {
    "DecisionTree" : DecisionTreeRegressor(),
    "RandomForest": RandomForestRegressor(),
    "ExtraTrees" : ExtraTreesRegressor(),
    "GradientBoosting" : GradientBoostingRegressor(),
    "HistGradientBoosting": HistGradientBoostingRegressor(),
    "Voting": VotingRegressor(
        [('etr', ExtraTreesRegressor()),
         ('rf', RandomForestRegressor())]
    )
}

In [19]:
for name, model in models.items():
    print(f"Entrenando {name}")
    model.fit(X_train, y_train)
print("Proceso terminado ")

Entrenando DecisionTree
Entrenando RandomForest
Entrenando ExtraTrees
Entrenando GradientBoosting
Entrenando HistGradientBoosting
Entrenando Voting
Proceso terminado

In [22]:
from sklearn.metrics import  explained_variance_score, max_error, mean_absolute_error, mean_squared_error, r2_score

for name, model in models.items():
    y_pred = model.predict(X_test)
    print(f"-------{name}-------")
    print("EVS", round(explained_variance_score(y_test,y_pred),3))
    print("ME", round(max_error(y_test,y_pred),3))
    print("MAE", round(mean_absolute_error(y_test,y_pred),3))
    print("RMSE", round(np.sqrt(mean_squared_error(y_test,y_pred)),3))
    print("R2", round(r2_score(y_test,y_pred),3))

-------DecisionTree-------
EVS 0.961
ME 11898.0
MAE 386.672
RMSE 794.057
R2 0.961
-------RandomForest-------
EVS 0.98
ME 9714.89
MAE 282.537
RMSE 576.707
R2 0.98
-------ExtraTrees-------
EVS 0.98
ME 7302.11
MAE 277.75
RMSE 567.851
R2 0.98
-------GradientBoosting-------
EVS 0.972
ME 9407.714
MAE 372.163
RMSE 677.185
R2 0.972
-------HistGradientBoosting-------
EVS 0.981
ME 9096.139
MAE 288.716
RMSE 561.917
R2 0.981
-------Voting-------
EVS 0.98
ME 8365.525
MAE 276.381
RMSE 564.836
R2 0.98

In [21]:
import numpy as np
from sklearn.model_selection import cross_val_score

for name, model in models.items():
    scores = cross_val_score(model,X,y, cv=10)
    print(f"{name} accuracy{np.mean(scores)}")

DecisionTree accuracy0.9628373829370096
RandomForest accuracy0.9802461179804993
ExtraTrees accuracy0.9809393893935263
GradientBoosting accuracy0.9708197814276209
HistGradientBoosting accuracy0.9801495823500789
Voting accuracy0.9811424627738266

## RESUMEN ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
### Después de entrenar todos los modelos, pasarles 5 tipos de métricas a cada uno de los anteriores y finalmente realizando el cross_val_score de todo lo anterior, obtenemos como resultado, que el modelo que mejor se comporta con respecto al dataset es VotingRegressor, y lo hace por muy poco con respecto a ExtraTreesRegressor y a RandomForestRegressor.
### En definitiva, seleccionamos VotingRegressor como modelo a trabajar.