In [104]:
import pandas as pd
import numpy as np

In [105]:
diamonds = pd.read_csv("../diamonds-datamad0820/train.csv")

In [106]:
diamonds.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.12    Premium     H     SI1   61.6   59.0  6.67  6.63  4.10   5363
1   1   1.14  Very Good     E     SI2   60.0   54.0  6.74  6.97  4.11   5593
2   2   0.90  Very Good     D     SI2   60.3   63.0  6.12  6.22  3.72   3534
3   3   0.71      Ideal     E     VS1   61.9   54.0  5.74  5.76  3.56   3212
4   4   0.34  Very Good     F     SI2   60.0   62.0  4.51  4.55  2.72    447

In [107]:
diamonds.set_index("id", inplace=True)

In [108]:
diamonds.head()

    carat        cut color clarity  depth  table     x     y     z  price
id
0    1.12    Premium     H     SI1   61.6   59.0  6.67  6.63  4.10   5363
1    1.14  Very Good     E     SI2   60.0   54.0  6.74  6.97  4.11   5593
2    0.90  Very Good     D     SI2   60.3   63.0  6.12  6.22  3.72   3534
3    0.71      Ideal     E     VS1   61.9   54.0  5.74  5.76  3.56   3212
4    0.34  Very Good     F     SI2   60.0   62.0  4.51  4.55  2.72    447

In [109]:
diamonds.shape

(40455, 10)

In [110]:
diamonds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40455 entries, 0 to 40454
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    40455 non-null  float64
 1   cut      40455 non-null  object
 2   color    40455 non-null  object
 3   clarity  40455 non-null  object
 4   depth    40455 non-null  float64
 5   table    40455 non-null  float64
 6   x        40455 non-null  float64
 7   y        40455 non-null  float64
 8   z        40455 non-null  float64
 9   price    40455 non-null  int64
dtypes: float64(6), int64(1), object(3)
memory usage: 3.4+ MB

In [111]:
diamonds.cut.value_counts()

Ideal        16250
Premium      10342
Very Good     9026
Good          3639
Fair          1198
Name: cut, dtype: int64

In [112]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
diamonds.cut = le.fit_transform(diamonds.cut)

In [113]:
diamonds.color.value_counts()

G    8565
E    7344
F    7162
H    6147
D    5063
I    4052
J    2122
Name: color, dtype: int64

In [114]:
le = preprocessing.LabelEncoder()
diamonds.color = le.fit_transform(diamonds.color)

In [115]:
diamonds.clarity.value_counts()

SI1     9806
VS2     9204
SI2     6865
VS1     6099
VVS2    3778
VVS1    2776
IF      1365
I1       562
Name: clarity, dtype: int64

In [116]:
le = preprocessing.LabelEncoder()
diamonds.clarity = le.fit_transform(diamonds.clarity)

In [117]:
diamonds.head()

    carat  cut  color  clarity  depth  table     x     y     z  price
id
0    1.12    3      4        2   61.6   59.0  6.67  6.63  4.10   5363
1    1.14    4      1        3   60.0   54.0  6.74  6.97  4.11   5593
2    0.90    4      0        3   60.3   63.0  6.12  6.22  3.72   3534
3    0.71    2      1        4   61.9   54.0  5.74  5.76  3.56   3212
4    0.34    4      2        3   60.0   62.0  4.51  4.55  2.72    447

In [118]:
columnas = [a for a in diamonds.columns if a not in ["price"]]
X = diamonds[columnas]
y = diamonds["price"]

In [119]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 1/3)

## Training models

In [120]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import ExtraTreesRegressor, GradientBoostingRegressor, HistGradientBoostingRegressor

In [121]:
models = {
    "Linear": LinearRegression(),
    "DecisionTree" : DecisionTreeRegressor(),
    "ExtraTrees" : ExtraTreesRegressor(),
    "GradientBoosting" : GradientBoostingRegressor(),
    "HistGradientBoosting": HistGradientBoostingRegressor()
}

In [122]:
for name, model in models.items():
    print(f"Entrenando {name}")
    model.fit(X_train, y_train)
print("Proceso terminado ")

Entrenando Linear
Entrenando DecisionTree
Entrenando ExtraTrees
Entrenando GradientBoosting
Entrenando HistGradientBoosting
Proceso terminado

In [123]:
from sklearn.metrics import  explained_variance_score, max_error, mean_absolute_error, mean_squared_error, r2_score

for name, model in models.items():
    y_pred = model.predict(X_test)
    print(f"-------{name}-------")
    print("RMSE", round(np.sqrt(mean_squared_error(y_test,y_pred)),3))

-------Linear-------
RMSE 1340.368
-------DecisionTree-------
RMSE 796.291
-------ExtraTrees-------
RMSE 553.982
-------GradientBoosting-------
RMSE 674.722
-------HistGradientBoosting-------
RMSE 566.11

In [124]:
import numpy as np
from sklearn.model_selection import cross_val_score

for name, model in models.items():
    scores = cross_val_score(model,X,y, cv=10)
    print(f"{name} accuracy{np.mean(scores)}")

Linear accuracy0.8835785918917625
DecisionTree accuracy0.963611776237423
ExtraTrees accuracy0.9809498563670406
GradientBoosting accuracy0.9708187800490171
HistGradientBoosting accuracy0.9804472988263008